**Write Python Code to print these patterns**

(a)

In [1]:
n = 5
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

(b)

In [4]:
n = 5
for i in range(5):
    for j in range(i+1):
        print(i+1, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

(c)

In [5]:
n=5
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

(d)

In [7]:
n = 5
i = 0
num = i+2
for i in range(n):
    for j in range(i+1):
        print(num,end=" ")
        num=num+1
    print()

2
3 4
5 6 7
8 9 10 11
12 13 14 15 16

(e)

In [17]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        if (i+j)%2 == 0:
            print(0,end=" ")
        else:
            print(1, end=" ")
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

(f)

In [22]:
n=5
i = 1
num = i
for i in range(n+1):
    for j in range(i):
        print(num, end = " ")
        num = num +1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

(g)

In [29]:
n=5
num = n
for i in range(n):
    num = n
    for j in range(i+1):
        print(num,end = " ")
        num = num - 1
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

(h)

In [30]:
n = 5
num = n
for i in range(n):
    for j in range(i+1):
        print(num,end=" ")
    num = num-1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

(i)

In [33]:
n = 5
for i in range(n+1):
    for j in range(n,i,-1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

(j)

In [38]:
n = 5
for i in range(1,n):
    for j in range(n,i,-1):
        print(i,end = " ")
    print()

1 1 1 1
2 2 2
3 3
4

In [39]:
n = 5

for i in range(n, 0, -1):
    for j in range(i):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [45]:
i = 5
n = 1
while(i>=1):
    print(str(n)*i)
    if i <= 3:
        n = n-1
    else:
        n = n+1
    i = i-1

11111
2222
333
22
1

In [60]:
n = 5
for i in range(n):
    num = 1
    for j in range(i,n):
        print(num,end=" ")
        num = num+1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [8]:
n = 5
num = n
for i in range(n):
    for j in range(i,n):
        print(num,end = " ")
    num = num-1
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [9]:
n = 5
for i in range(n):
    for j in range(n,i,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [26]:
i = 1
while i<=5:
    s = "* "*i
    print(s.center(10))
    i = i+1

    *
   * *
  * * *
 * * * *
* * * * *